* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7e608c;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu-btn {
  width: 100px;
  height: 30px;
  border: none;
  background-color: #421455;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.menu-list {
  display: none;
  justify-content: center;
  align-items: flex-start;
  background: #421455;
  width: 250px;
  height: 100vh;
}

.menu-list ul {
  list-style-type: none;
  width: 100%;
}

.menu-list ul li {
  padding: 10px;
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.menu-list img {
  color: white;
}

.menu-list ul li:hover {
  cursor: pointer;
  background-color: #e2437e;
}


.menu-list.active {
  display: flex; /* Показываем меню, когда оно активно */
}